*.dll
*.pdb
*.suo
*.lock.json
*.dll.mdb
*.user
.svn
.vs
bin
obj
packages
BundleArtifacts
AppPackages
*.designer.cs
*.CodeAnalysisLog.xml
*.lastcodeanalysissucceeded
*.targets
*.props
*.csproj.bak
*.targets
*.props
file_paths.xml
/NuGet/netstandard2.0/Hid.Net.deps.json
*.nupkg
*.bak
/.vscode
*.nuspec

src/Flutter/flutnet_thermometer_bridge/lib/flutnet/data/

src/Flutter/flutnet_thermometer_bridge/lib/flutnet/service_model/

src/Flutter/flutnet_thermometer_bridge/lib/flutnet_thermometer/service_library/generated/

src/Flutter/flutnet_thermometer_bridge/lib/flutnet_thermometer/service_library/
