<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity Name="4672b5b2-339c-4bb9-9103-81ccb3675d8c"
            Publisher="CN=Christian"
            Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="4672b5b2-339c-4bb9-9103-81ccb3675d8c" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Device.Net.UWPUnitTests</DisplayName>
    <PublisherDisplayName>Christian</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="vstest.executionengine.universal.App"
        Executable="$targetnametoken$.exe"
        EntryPoint="Device.Net.UWPUnitTests.App">
      <uap:VisualElements
        DisplayName="Device.Net.UWPUnitTests"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="Device.Net.UWPUnitTests"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <Capability Name="privateNetworkClientServer" />
    <DeviceCapability Name="serialcommunication">
      <Device Id="any">
        <Function Type="name:serialPort" />
      </Device>
    </DeviceCapability>
    <DeviceCapability Name="location"/>


    <DeviceCapability Name="humaninterfacedevice">

      <!--Airnetix Nano-->

      <Device Id="vidpid:29F5 1010">
        <Function Type="usage:0005 *" />
        <Function Type="usage:FF00 0001" />
        <Function Type="usage:ff00 *" />
      </Device>

      <!--Trezors-->

      <Device Id="vidpid:534C 0001">
        <Function Type="usage:0005 *" />
        <Function Type="usage:FF00 0001" />
        <Function Type="usage:ff00 *" />
      </Device>

      <Device Id="vidpid:1209 53C0">
        <Function Type="usage:0005 *" />
        <Function Type="usage:FF00 0001" />
        <Function Type="usage:ff00 *" />
      </Device>

      <Device Id="vidpid:1209 53C1">
        <Function Type="usage:0005 *" />
        <Function Type="usage:FF00 0001" />
        <Function Type="usage:ff00 *" />
      </Device>

    </DeviceCapability>

    <DeviceCapability Name="usb">

      <!--Trezor Firmware 1.7.x -->
      <Device Id="vidpid:1209 53C1">
        <Function Type="classId:ff * *" />
      </Device>

    </DeviceCapability>

  </Capabilities>
</Package>