[*.cs]

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = error

# IDE0011: Add braces
csharp_prefer_braces = when_multiline:error

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = suggestion

# IDE0008: Use explicit type
csharp_style_var_elsewhere = true:error

# IDE0008: Use explicit type
csharp_style_var_for_built_in_types = true:error

# IDE0058: Expression value is never used
csharp_style_unused_value_expression_statement_preference = discard_variable:suggestion

# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity = suggestion




dotnet_diagnostic.IDE0058.severity = suggestion

# CA1063: Implement IDisposable Correctly
dotnet_diagnostic.CA1063.severity = warning



dotnet_diagnostic.CA2237.severity = none

# IDE0008: Use explicit type
csharp_style_var_when_type_is_apparent = true:silent



# CA1401: P/Invokes should not be visible
dotnet_diagnostic.CA1401.severity = warning

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = none


dotnet_diagnostic.CA1724.severity = warning

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = warning

# IDE0022: Use block body for methods
csharp_style_expression_bodied_methods = when_on_single_line:silent

# IDE0074: Use compound assignment
dotnet_style_prefer_compound_assignment = true:warning
dotnet_diagnostic.IDE0074.severity = warning
