[*.cs]

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = error

# IDE0011: Add braces
csharp_prefer_braces = when_multiline:error

# IDE0008: Use explicit type
csharp_style_var_elsewhere = true:error

# IDE0008: Use explicit type
csharp_style_var_for_built_in_types = true:error

# IDE0008: Use explicit type
csharp_style_var_when_type_is_apparent = true:error

# IDE0022: Use block body for methods
csharp_style_expression_bodied_methods = when_on_single_line:error

# IDE0074: Use compound assignment
dotnet_style_prefer_compound_assignment = true:error

# IDE0023: Use block body for operators
csharp_style_expression_bodied_operators = true:error

# IDE0021: Use block body for constructors
csharp_style_expression_bodied_constructors = true:error

# CS1998: Async method lacks 'await' operators and will run synchronously
dotnet_diagnostic.CS1998.severity = error

######################## All the ones what don't come by default #################

dotnet_diagnostic.CA1047.severity = error
dotnet_diagnostic.CA1040.severity = error
dotnet_diagnostic.CA1000.severity = error
dotnet_diagnostic.CA1001.severity = error
dotnet_diagnostic.CA1002.severity = error
dotnet_diagnostic.CA1003.severity = error
dotnet_diagnostic.CA1005.severity = error
dotnet_diagnostic.CA1008.severity = error
dotnet_diagnostic.CA1010.severity = error
dotnet_diagnostic.CA1012.severity = error
dotnet_diagnostic.CA1014.severity = error
dotnet_diagnostic.CA1016.severity = error
dotnet_diagnostic.CA1017.severity = error
dotnet_diagnostic.CA1018.severity = error
dotnet_diagnostic.CA1019.severity = error
dotnet_diagnostic.CA1021.severity = error
dotnet_diagnostic.CA1024.severity = error
dotnet_diagnostic.CA1027.severity = error
dotnet_diagnostic.CA1028.severity = error
dotnet_diagnostic.CA1030.severity = error

# Modify 'Start' to catch a more specific allowed exception type, or rethrow the exception
# dotnet_diagnostic.CA1031.severity = error

dotnet_diagnostic.CA1032.severity = error
dotnet_diagnostic.CA1033.severity = error
dotnet_diagnostic.CA1034.severity = error
dotnet_diagnostic.CA1036.severity = error
dotnet_diagnostic.CA1040.severity = error
dotnet_diagnostic.CA1041.severity = error
dotnet_diagnostic.CA1043.severity = error
dotnet_diagnostic.CA1044.severity = error

dotnet_diagnostic.CA1303.severity = error




######################## Warnings. TODO: Fix these #################


# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = warning

# CA1401: P/Invokes should not be visible
dotnet_diagnostic.CA1401.severity = warning

# CA1816: Dispose methods should call SuppressFinalize
dotnet_diagnostic.CA1816.severity = warning
