<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="c1f6c4ce-432f-4f0d-bd82-128eca0679a5"
    Publisher="CN=ChristianFindlay"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="c1f6c4ce-432f-4f0d-bd82-128eca0679a5" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Usb.Net.UWP.Sample</DisplayName>
    <PublisherDisplayName>ChristianFindlay</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="Usb.Net.UWP.Sample.App">
      <uap:VisualElements
        DisplayName="Usb.Net.UWP.Sample"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="Usb.Net.UWP.Sample"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />

    <uap:Capability Name="removableStorage" />

    <DeviceCapability Name="humaninterfacedevice">

      <Device Id="vidpid:534C 0001">
        <Function Type="usage:0005 *" />
        <Function Type="usage:FF00 0001" />
        <Function Type="usage:ff00 *" />
      </Device>

      <Device Id="vidpid:1209 53C0">
        <Function Type="usage:0005 *" />
        <Function Type="usage:FF00 0001" />
        <Function Type="usage:ff00 *" />
      </Device>

      <Device Id="vidpid:1209 53C1">
        <Function Type="usage:0005 *" />
        <Function Type="usage:FF00 0001" />
        <Function Type="usage:ff00 *" />
      </Device>

    </DeviceCapability>

    <DeviceCapability Name="usb">

      <!--Trezor Firmware 1.7.x -->
      <Device Id="vidpid:1209 53C1">
        <Function Type="classId:ff * *" />
      </Device>

    </DeviceCapability>

  </Capabilities>
</Package>